# ======================
# .NET
# ======================
**/bin/
**/obj/
*.dll
*.pdb

# ======================
# Flutter
# ======================
.build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# ======================
# OS
# ======================
.DS_Store
